.md-header__button.md-logo,
.md-header__title {
    visibility: hidden;
}

.md-top {
    display: none !important;
}



body {
    background-image: url("../assets/backgrounds/pexels-photo-459037.webp");
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}













/* Light theme styles */
[data-md-color-scheme="default"] {
    --custom-font-color: #050404;
    /* Dark text for light theme */
    --custom-font-family: "Arial", Arial;
}

/* Dark theme styles */
[data-md-color-scheme="slate"] {
    --custom-font-color: white;
    /* Light text for dark theme */
    --custom-font-family: "san serif", Arial;
}

/* Apply custom styles */
body {
    color: var(--custom-font-color);
    font-family: var(--custom-font-family);
}

/* Headings */
h1,
h2,
h3 {
    color: var(--custom-font-color);
    font-family: var(--custom-font-family);
}

/* Paragraphs */
p {
    color: var(--custom-font-color);
    font-family: var(--custom-font-family);
}